<div class="depression_at_risk">
    <p>
        Your responses indicate that you may be at risk of harming yourself. If you need immediate help, you can reach the Suicide & Crisis Lifeline by calling or texting <a href="tel:+988">988</a> or using the chat box at <a target="_blank" href="https://988lifeline.org/">988lifeline.org</a>. You can also text “MHA” to 741-741 to reach the Crisis Text Line. Warmlines are an excellent place for non-crisis support.
    </p>
</div>