<header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/evaluation">Mental Health Evaluation</a></li>
      <li><a href="/checkin">Daily Check-in</a></li>
      <li><a href="/tracker">Progress Tracker</a></li>
      <li><a href="/settings">Settings</a></li>
    </ul>
  </nav>
</header>