
  
nav {
  border: 1px solid black;
  background-color: rgb(134, 163, 216);
  padding: 10px;
}

nav ul {
  display: flex;
  justify-content: space-around;
}

nav a {
  font-size: 24px;
  display: block; /* Makes the entire area clickable */
  color: black; /* Links are blue by default */
  padding: 8px 16px; /* TODO: Research padding vs margin*/
  text-decoration: none; /* Remove underline */
}

nav a:hover {
  background-color: #555;
  color: white;
}

.Column {
 margin-left: 15%;
 margin-right: 15%;
}

.pic{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 25%;
  width: 25%;
}
.pic2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:auto;
    width:100%;
}