/* Formatting for the Navigation Bar */
nav {
  border: 1px solid black;
  background-color: rgb(134, 163, 216);
  padding: 10px;
}

nav ul {
  display: flex;
  justify-content: space-around;
}

nav a {
  font-size: 24px;
  display: block;               /* Makes the entire area clickable */
  color: black;               /* Links are blue by default */
  padding: 8px 16px;            /* TODO: Research padding vs margin*/
  text-decoration: none;        /* Remove underline */
}

nav a:hover {
  background-color: #555;
  color: white;
}

.Column {
 margin-left: 15%;
 margin-right: 15%;
}

.pic{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 25%;
  width: 25%;
}
.pic2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:auto;
    width:100%;
}

/* Formatting for the Login Page */
/* TO-DO: Format the login box to accomodate to the Dark Mode setting */
.glass-container {
  width: 350px;
  height: auto;
  position: absolute;
  margin-left: 35%;                             /* TO-DO: Center the login box inside the body, this does the job for the meantime... */
  z-index: 1;
  background: rgba(255, 255, 255, 0.07);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.105);
  border-radius: 10px;
  border: 2px solid #2c3b77;
}

.glass-container::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: -1;
}

.login-box {
  max-width: 250px;
  margin: 0 auto;
  text-align: center;
}

.login_h2 {
  margin-top: 30px;
  margin-bottom: -20px;
}

.login_form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.login_input {
  padding: 10px;
  margin-top: 25px;
  border: none;
  border-radius: 10px;
  border: 1.5px solid #181148;
  background-color:#ffffffbd;
  color: #323232;
  font-size: 13px;
}

.login_input::placeholder {
  color: #300938;
}

.login_input:focus {
  outline: none;
}

.login_label_text {
    margin-bottom: -20px;
    margin-top: 20px;
    color: var(--color);
    text-align: left;
}

.options:not(.dark-mode) {
  display: flex;
  align-items: center;
  margin-top: 15px;
  font-size: 12px;
  color: rgb(175, 85, 207);
}

.options input {
  margin-right: 5px;
  margin-top: 0px;
}

.options a {
  text-decoration: none;
  color: rgb(78, 54, 137);
  margin-left: auto;
}

.login_button {
  background: rgb(134, 163, 216);
  color: black;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 15px;
}

.login_button:hover {
  background: transparent;
  color: rgb(54, 5, 67);
  outline: 1px solid #2d053d;
}

.login_p {
  font-size: 12px;
  color: var(--color);
  margin-top: 15px;
}

#register {
  text-decoration: none;
  color: #4b8574;
  font-weight: bold;
}

/* Formatting for the Settings Page -> Dark Mode */
body, html{
  background-color: var(--background-color);
}

/* Format in "Light Mode" */
/* -- Sets text to black, the background stays as white as of the current design. */
body:not(.dark-mode){
  --background-color: #f1f2f6;
  --color: #182027;
}

/* Format in "Dark Mode" */
/* -- Sets text to white, changes the background to be more darkish. */
.dark-mode {
  --background-color: #182027;
  --color: #f1f2f6;
}

h2, h1, h3, p, li {
  color: var(--color);
}

.checkins-container {
  border: 1px solid black;
  height: 800px;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: 5px 5px 2px 0px rgba(0, 0, 0, 0.2);
  margin: 20px;
  padding: 10px;
  max-width: 15%;
}

.card:hover {
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.3);
}

.hidden {
  display: none;
}

.each_answer {
  display: flex;
}