<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body onload="onload()">

  <%- include('../partials/navbar.ejs') %>
 
  <div class="center">
      <img class= "pic2" src="/img/anxiety.jpg" alt="Anxiety">

      <h2>What is Anxiety?</h2>
      <p>Anxiety is when you feel worried or afraid. This mostly happens when you think about what will happen or what could happen in the future.</p>
      <p>There is different types of anxiety:</p>
      <url>
        <li>Generalised anxiety disorder (GAD)- this means having regular or uncontrollable worries about many different things in your everyday life.</li>
        <li>Social anxiety disorder- means you experience extreme fear or anxiety triggered by social situations.</li>
        <li>Panic disorder- this means having regular or frequent panic attacks without a clear cause or trigger.</li>
        <li>Phobias- a phobia is an extreme fear or anxiety triggered by a situation or an object.</li>
        <li>Post-traumatic stress disorder (PTSD) -develop anxiety problems after going through something traumatic.</li> 
        <li>Obsessive-compulsive disorder (OCD)-  your anxiety problems involve having repetitive thoughts, behaviours or urges.</li>
        <li>Body dysmorphic disorder (BDD)- this means you experience obsessions and compulsions relating to your physical appearance.</li>
        <li>Perinatal anxiety or perinatal OCD-  develop anxiety problems during pregnancy or in the first year after giving birth.</li>
      </url>
      <h3>What is Anxiety Treatment?</h3>
      <p>Some treatment to anxiety:</p>
      <url>
        <li>Talk to someone you trust</li>
        <li>Try to manage your worries</li>
        <li>Look after your physical health</li>
        <li>Try breathing exercise</li>
        <li>Keep a diary</li>
        <li>Talk to a therapist</li>
      </url>
      <p>This will be more helpful information about anxiety.</p>
      <p><a href="https://www.nhs.uk/mental-health/conditions/anxiety/">Visit information about anxiety and panic attacks at nih.gov</a></p>
      <p><a href="https://www.verywellmind.com/anxiety-7508391">Visit information about anxiety at verywellmind</a></p>
  </div>

  <!-- Directs the script.js file, allowing, as of right now, to access Dark Mode -->
  <script src="/script.js"></script>
  
</body>

</html>