<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bipolar disorder</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body onload="onload()">
  <%- include('../partials/navbar.ejs') %>
 
  <div class="center">
      <img class= "pic2" src="/img/depression.jpeg" alt="Depression">

    <h2>What is Bipolar disorder and Treatment?</h2>
      <p>Bipolar disorder is a mental illness characterized by extreme shifts in mood, energy, and activity levels, including both periods of mania (or hypomania) and depression. Treatment typically involves a combination of medication and psychotherapy, along with self-management strategies.
      </p>
      <p>There is different types of depression:</p>
      <ul>
        <li>Bipolar disorder causes a person to cycle through periods of high (mania/hypomania) and low (depression) moods.</li>
        <li>Mania: This involves elevated mood, increased energy, decreased need for sleep, racing thoughts, and impulsive behavior.</li>
        <li>Depression: This involves persistent sadness, loss of interest in activities, fatigue, and difficulty concentrating. </li>
        <li>People with bipolar disorder may experience both mania and depression, or they may experience a mix of symptoms at the same time.</li>
      </ul>
      <h3>Treatment for Bipolar disorder</h3>
      <ul>
        <li>Mood stabilizers: Medications like lithium and valproate help regulate mood swings and prevent both mania and depression.</li>
        <li>Antipsychotics: Some antipsychotics can help manage mania and may also be used during periods of depression.</li>
        <li>Antidepressants: Antidepressants can be used during depressive episodes, but they should not be used alone during manic episodes and may need to be combined with mood stabilizers or antipsychotics. </li>
      </ul>
      <p>This will be more helpful information about bipolar disorder.</p>
      <p><a href="https://www.nimh.nih.gov/health/topics/bipolar-disorder">Visit information about bipolar disorder at nih.gov</a></p>
      <p><a href="https://www.verywellmind.com/bipolar-disorder-4157274">Visit information about bipolar disorder at verywellmind</a></p>

  </div>

  <!-- Directs the script.js file, allowing, as of right now, to access Dark Mode -->
  <script src="/script.js"></script>
  
</body>

</html>