<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body onload="onload()">
  <%- include('../partials/navbar.ejs') %>
 
  <div class="center">
      <img class= "pic2" src="/img/depression.jpeg" alt="Depression">

    <h2>What is Depression and Treatment?</h2>
      <p>Depression is a mental health problem that causes 
        low mood or losing interest and enjoyment in things. 
        The symptom changes based on the person. It can change 
        based on how intense they are or how long they last. 
      </p>
      <p>There is different types of depression:</p>
      <url>
        <li>Persistent depressive disorder (PDD)- is continuous depression that lasts for 2 years or more.</li>
        <li>Seasonal affective disorder(SAD)- depression that occurs at a particular time of year, or during a particular season.</li>
        <li>Antenatal depression - This is depression that occurs while you are pregnant.</li>
        <li>Postnatal Depression (PND)- This is depression that occurs in the first year after having a baby.</li>
        <li>Premenstrual dysphoric disorder (PMDD)- This is a hormone-related disorder that affects your body but also how you feel.</li>
      </url>
      <h3>What is Depression Treatment?</h3>
      <p>Some of treatment of depression is :</p>
      <url>
        <li>Guided self help</li>
        <li>A physical activity program</li>
        <li>Therapy or counseling (not provided by this app, but encouraged)</li>
      </url>
      <p>This will be more helpful information about depression.</p>
      <p><a href="https://www.nimh.nih.gov/health/topics/depression">Visit information about depression at nih.gov</a></p>
      <p><a href="https://www.verywellmind.com/depression-4157261">Visit information about depression at verywellmind</a></p>

  </div>

  <!-- Directs the script.js file, allowing, as of right now, to access Dark Mode -->
  <script src="/script.js"></script>
  
</body>

</html>