<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body onload="onload()">
  <h1>Mental Health Evaluation</h1>
  <%- include('../partials/navbar.ejs') %>
  <main>
    <div>
      <form method="post" action="/evaluation">
        <ul>
          <% test_list.forEach(test => { %>
            <button type="submit" name="selected_test" value="<%=test%>"><%=test%></button>
          <%}); %>
        </ul>
      </form>
    </div>
  </main>

  <!-- Directs the script.js file, allowing, as of right now, to access Dark Mode -->
  <script src="/script.js"></script>
</body>
</html>