<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body onload="onload()">
  <h1>Mental Health Tracker</h1>
  <%- include('../partials/navbar.ejs') %>
 
  <div class="Column">
    <img class= "pic" src="/img/moodTracker.jpg" alt="Tracker">
    <h2>What is a Mental Health Tracker about?</h2>
    <p>A mental health tracker is a tool designed to help you monitor 
      your emotional well-being over time. This tracker allows you to 
      check in daily and log your mood, so you can see trends and changes 
      over a week, a month, or longer.
    </p>
    <p> It includes optional self-assessments for depression and anxiety
       based on questionnaires that ask about symptoms you may have 
       experienced over the past two weeks. While you don’t have to 
       take these often, they’re helpful in understanding where you 
       started and how you’re progressing.
    </p>
    <h2>What is a Mental Health Tracker Goal?</h2>
      <p>The goal is to help you:</p>
      <url>
        <li>Track mood changes and emotional patterns over time</li>
        <li>Become more aware of your mental health</li>
        <li>Access simple, helpful resources to support self-improvement</li>
      </url>
      <p>The tracker is not a replacement for professional therapy 
        or medication, but it provides a starting point for 
        understanding your mental state and building better habits.
      </p>
      <img class= "pic2" src="/img/depression.jpeg" alt="Depression">

    <h2>What is Depression and Treatment?</h2>
      <p>Depression is a mental health problem that causes 
        low mood or losing interest and enjoyment in things. 
        The symptom changes based on the person. It can change 
        based on how intense they are or how long they last. 
      </p>
      <p>There is different types of depression:</p>
      <url>
        <li>Persistent depressive disorder (PDD)- is continuous depression that lasts for 2 years or more.</li>
        <li>Seasonal affective disorder(SAD)- depression that occurs at a particular time of year, or during a particular season.</li>
        <li>Antenatal depression - This is depression that occurs while you are pregnant.</li>
        <li>Postnatal Depression (PND)- This is depression that occurs in the first year after having a baby.</li>
        <li>Premenstrual dysphoric disorder (PMDD)- This is a hormone-related disorder that affects your body but also how you feel.</li>
      </url>
      <h3>What is Depression Treatment?</h3>
      <p>Some of treatment of depression is :</p>
      <url>
        <li>Guided self help</li>
        <li>A physical activity program</li>
        <li>Therapy or counseling (not provided by this app, but encouraged)</li>
      </url>
      <p>This will be more helpful information about depression.</p>
      <p><a href="https://www.nimh.nih.gov/health/topics/depression">Visit information about depression at nih.gov</a></p>
      <p><a href="https://www.verywellmind.com/depression-4157261">Visit information about depression at verywellmind</a></p>

      <img class= "pic2" src="/img/anxiety.jpg" alt="Anxiety">

      <h2>What is Anxiety?</h2>
      <p>Anxiety is when you feel worried or afraid. This mostly happens when you think about what will happen or what could happen in the future.</p>
      <p>There is different types of anxiety:</p>
      <url>
        <li>Generalised anxiety disorder (GAD)- this means having regular or uncontrollable worries about many different things in your everyday life.</li>
        <li>Social anxiety disorder- means you experience extreme fear or anxiety triggered by social situations.</li>
        <li>Panic disorder- this means having regular or frequent panic attacks without a clear cause or trigger.</li>
        <li>Phobias- a phobia is an extreme fear or anxiety triggered by a situation or an object.</li>
        <li>Post-traumatic stress disorder (PTSD) -develop anxiety problems after going through something traumatic.</li> 
        <li>Obsessive-compulsive disorder (OCD)-  your anxiety problems involve having repetitive thoughts, behaviours or urges.</li>
        <li>Body dysmorphic disorder (BDD)- this means you experience obsessions and compulsions relating to your physical appearance.</li>
        <li>Perinatal anxiety or perinatal OCD-  develop anxiety problems during pregnancy or in the first year after giving birth.</li>
      </url>
      <h3>What is Anxiety Treatment?</h3>
      <p>Some treatment to anxiety:</p>
      <url>
        <li>Talk to someone you trust</li>
        <li>Try to manage your worries</li>
        <li>Look after your physical health</li>
        <li>Try breathing exercise</li>
        <li>Keep a diary</li>
        <li>Talk to a therapist</li>
      </url>
      <p>This will be more helpful information about anxiety.</p>
      <p><a href="https://www.nhs.uk/mental-health/conditions/anxiety/">Visit information about anxiety and panic attacks at nih.gov</a></p>
      <p><a href="https://www.verywellmind.com/anxiety-7508391">Visit information about anxiety at verywellmind</a></p>
  </div>

  <!-- Directs the script.js file, allowing, as of right now, to access Dark Mode -->
  <script src="/script.js"></script>
  
</body>

</html>