<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body onload="onload()">
  <h1>Mental Health Tracker</h1>
  <%- include('../partials/navbar.ejs') %>
 
 
    <div class = "block">
      <div class="Column">
      <h2>What is a Mental Health Tracker about?</h2>
      <p>A mental health tracker is a tool designed to help you monitor 
        your emotional well-being over time. This tracker allows you to 
        check in daily and log your mood, so you can see trends and changes 
        over a week, a month, or longer.
      </p>
      <p> It includes optional self-assessments for depression and anxiety
        based on questionnaires that ask about symptoms you may have 
        experienced over the past two weeks. While you don’t have to 
        take these often, they’re helpful in understanding where you 
        started and how you’re progressing.
      </p>
      </div>
      <div class="button-box">
        <h1>Try Me</h1>
        <button onclick="location.href='/register'" class="sign-up">Sign Up</button>
        <button onclick="location.href='/login'" class="login">Login</button>
      </div> 
    </div>  
    <div class="center">
      <h2>What is a Mental Health Tracker Goal?</h2>
        <p>The goal is to help you:</p>
        <url>
          <li>Track mood changes and emotional patterns over time</li>
          <li>Become more aware of your mental health</li>
          <li>Access simple, helpful resources to support self-improvement</li>
        </url>
        <p>The tracker is not a replacement for professional therapy 
          or medication, but it provides a starting point for 
          understanding your mental state and building better habits.
        </p>
      </div>
    <div class="block2">
      <div class="Column">
        <h2> Mental Health Evaluation</h2>
        <p> Take a brief assessment to better understand your levels of anxiety or depression. This is not a diagnosis, but a tool to help you gain insight into your mental health.</p>
      </div>
      <div class="button-box">
        <h1>Learn more about the Evaluation</h1>
        <button onclick="location.href='/evaluation'" class="evaluation">Try Me</button>
      </div> 
    </div>
    <div class="block3">
      <div class="Column">
        <h2> Daily Check-In</h2>
        <p> Use this space to reflect on your emotions and write about your day. It's a simple way to track your mood and thoughts over time.</p>
      </div>
      <div class="button-box">
        <h1>Learn more about the Check-In</h1>
        <button onclick="location.href='/Checkin'" class="checkin">Try Me</button>
      </div> 
    </div>
  <!-- Directs the script.js file, allowing, as of right now, to access Dark Mode -->
  <script src="/script.js"></script>
  
</body>

</html>