<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body onload="onload()">
  <h1>Login</h1>
  <%- include('../partials/navbar.ejs') %>

  <div class="glass-container">
    <div class="login-box">
      <h2 class="login_h2">Login</h2>

      <form class="login_form" action="#" method="POST">
        <input class="login_input" type="text" id="username" name="username" required placeholder="Username">
        <input class="login_input" type="password" id="password" name="password" required placeholder="Password">
        <div class="options">
          <input class="login_input" type="checkbox" id="remember" name="remember">
          <label for="remember">Remember me</label>
          <a hred="#">Forgot Password??</a>
        </div>

        <button class="login_button" type="submit">Login</button>
        <p class="login_p">Don't have an account?? <a href="/register.ejs" id="register">Register</a></p>
      </form>

    </div>

  </div>

  <!-- Directs the script.js file, allowing, as of right now, to access Dark Mode -->
  <script src="/script.js"></script>

</body>
</html>