<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/style.css">
  <script src="/tracker.mjs" type="module"></script>
</head>
<body onload="onload()">
  <input type="hidden" id="user_id" value="<%= user_id %>">

  
  
  <h1>Progress Tracker</h1>
  <button id="debugButton">debug</button>
  <%- include('../partials/navbar.ejs') %>

  <h2>Current Journal</h2>
  <div>
    <div id="current-card" class="card">
      Select a Journal Entry.
    </div>
  </div>

  <h2>Daily Checkins</h2>
  <div id="card-list" class="checkins-container">
    <div class="card">
      <h3>April 26, 2025</h3>
      <p><strong>Mood:</strong> Happy</p>
      <p>Had a great day at the park!</p>
    </div>
  </div>


  <!-- Directs the script.js file, allowing, as of right now, to access Dark Mode -->
  <script src="/script.js"></script>


</body>
</html>