<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/style.css">
  <script src="/tracker.mjs" type="module"></script>
</head>
<body onload="onload()">
  <h1>Progress Tracker</h1>
  <%- include('../partials/navbar.ejs') %>
  <button id="clearButton">Clear</button>
  <h2>Dump All</h2>
  <ul>
    <% collections.forEach(collection => { %>
      <button id="<%=collection%>" class="collection-button"><%=collection%></button>
    <%}); %>
  </ul>
  <h2>Get Logged-in User Data</h2>
  <ul id="results"></ul>
  <button id="debugButton">debug</button>
  <!-- TODO - Get all checkins for the current user -->


  <!-- Directs the script.js file, allowing, as of right now, to access Dark Mode -->
  <script src="/script.js"></script>


</body>
</html>